/* 头部样式控制 */
.body{
    margin: 0px;
}
.first_toubu{
    width: 100%;
    height: 360px;
    background-image: url(images/1.jfif);
    position: relative;
}
.beijin .logo{
    position: absolute;
    left: 15%;
    top: 13px;
}
.beijin{
    width: 100%;
    height: 84px;
    background-image: url(images/黑透明背景.png);
}
.xiala{
    position: absolute;
    top: 20px;
    left: 23%;
    width: 800px;
    height: 64px;
}
.caidan{
    margin-top: 0px;
    margin-bottom: 0px;
}
.caidan li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}
.caidan li a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.caidan li a p{
    font-size: 5px;
    text-align: center;
}
.caidan p{
    margin-top: 0px;
    margin-bottom: 0px;
}
/* 下拉菜单详情 */
.xiangqing{
    display: none;
    overflow: hidden;
    position: absolute;
    top: 84px;
    left: 0px;
    width: 100%;
    background-image: url(images/黑透明背景.png);

}
.xiangqing ul{
    list-style: none;
    float: left;
    padding: 0px;
}
.xiangqing .u1{
    margin-left: 545px;
    margin-top: 7px;
}
.xiangqing .u2{
    margin-left: 55px;
    margin-top: 7px;
}
.xiangqing .u3{
    margin-left: 65px;
    margin-top: 7px;
}
.xiangqing .u4{
    margin-left: 55px;
    margin-top: 7px;
}
.xiangqing .u5{
    margin-left: 55px;
    margin-top: 7px;
}
.xiangqing ul li{
    margin-bottom: 5px;
}
.xiangqing ul li a{
    font-size: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.xiangqing ul li a:hover{
    color: rgb(255, 187, 0);
}
/* 第二部分样式控制 */
.second_bufen{
    width: 100%;
    background-color: azure;
    height: 500px;
}
.second_bufen .lbt{
    padding-left: 200px;
    padding-top: 120px;
    width: 500px;
}
.second_bufen .lbt a{
    display: block;
    text-decoration: none;
    height: 281.25px;
}
.second_bufen .lbt img{
    width: 500px;
}